article {
    background:red;
    display: grid;
    grid-template-areas: "a a a"
                          "d d d"
                          "b b b"
                          "c c c"; 
    grid-template-columns: (repeat 3, 1fr);
    grid-template-rows: (1fr, 1fr, 3fr, 3fr);
    grid-gap: 10px;
}

header {
    background-color: rgba(255, 255, 255, 0.438)
 }
author {}
main {}

#bp {}

