html, html * {
    box-sizing: border-box;
    
}

article {
    background:rgb(255, 113, 113);
    display: grid;
    grid-template-areas: "a a c"
                         "a a c"
                          ; 
    grid-template-columns: (40px 50px auto 50px 40px);
    grid-template-rows: (1fr, 1fr);
    max-height: 2fr;
}
Body{
grid-area: a;
}
header {
    background-color: rgb(248, 242, 242);
    grid-column:(0/1);
    grid-row: (0/1fr);
    text-align: left;
 }

main {
    grid-column:(1/2) ;
    grid-row: (0/2);
}

main>#bp {
    grid-column:(1/2) ;
    grid-row: (0/2);
    background:rgb(255, 113, 113);
}
main.img {
    grid-column: (0/1);
    grid-row: (1/2);
}

section.sources { border: rgb(255, 255, 255) 1px solid;
    border-radius: 10px;
    grid-column:(2/3) ;
    grid-row: (0/2);

}